<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message.enjoy, .message.too-much { color:green;}
      .message.no-data { color:red; }

      input.enjoy, input.too-much{border-color:green;}
      input.no-data{border-color:red;}

    </style>
  </head>
<body  ng-app="LunchApp">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="{{prompt}}"
             class="form-control {{status}}" ng-model="inputValue">
         </div>
         <div class="form-group message {{status}}">
            {{message}}
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="process();">Check If Too Much</button>
         </div>
         <p>It does NOT consider an empty item, i.e., , , as an item towards to the count</p>

   </div>

</body>
</html>
